body {
    font-family: 'Times New Roman', serif;
    font-size: 14pt;
    text-align: justify;
    line-height: 1.5;
    text-indent: 1.25cm;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14pt;
    text-align: left;
    line-height: 1.5;
    text-indent: 1.25cm;
}

figcaption:before {
    content: "Рисунок " counter(figure) " - "
}

figcaption {
    text-align: center;
}

figure {
    counter-increment: figure;
}


body {
    counter-reset: h2;
}

h2 {
    counter-reset: h3;
}

h3 {
    counter-reset: h4;
}

h4 {
    counter-reset: h5;
}

h5 {
    counter-reset: h6;
}

h2:before {
    content: counter(h2, decimal) " ";
    counter-increment: h2;
}

h3:before {
    content: counter(h2, decimal) "." counter(h3, decimal) " ";
    counter-increment: h3;
}

h4:before {
    content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) " ";
    counter-increment: h4;
}

h5:before {
    content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) " ";
    counter-increment: h5;
}

h6:before {
    content: counter(h2, decimal) "." counter(h3, decimal) "." counter(h4, decimal) "." counter(h5, decimal) "." counter(h6, decimal) " ";
    counter-increment: h6;
}

h2.nocount:before, h3.nocount:before, h4.nocount:before, h5.nocount:before, h6.nocount:before {
    content: "";
    counter-increment: none;
}

@page {
    margin: 15mm 20mm 25mm 20mm;
    width: 210mm;
    height: 297mm;
}

@page :nth(3) {
    /* TO DO */
}

li { text-indent: 0!important; }

ul { list-style-type: "– "; }